body{
    /* background-image: url("bg.jpg"); */
    
    background:url("https://img.theweek.in/content/dam/week/news/sci-tech/2020/april/Cricket-bat-ball-shut.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    

}
#start{
    align-items: center;
    text-align: center;
    background-color: white;
}
img{
    width: 100px;
    align-items: right;
}
table{
    border-radius: 20px !important;
    background-color: rgba(255, 255, 255, 0.61);
    /* border-radius: 20px; */
    border: 1px solid rgb(122, 122, 122);
    color: rgb(0, 0, 0);
    width: 850px;
    height:700px;
    text-align: center;
    /* margin-top: 0px; */
    /* padding : 15px; */
    margin: auto;
    border-collapse: collapse;
  
    
}
tr:hover {background-color:grey;}
.tables{
    /* table-layout: fixed; */
    margin-top: 30px !important;
    margin:auto;
    /* padding-left: 150px; */
    border-radius: 20px;
    
}
.logo{
    opacity: 0.75;
    width: 200px;
}

.flex-container{
    display: flex;
}

.img {
    width: 45px;
}

.team {
    padding:15px;
}

.heading{
    padding: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    height: 75px;
}

.head1{

    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    color:white;
}

th{
    padding: 15px;
}

.tables {
    border-radius: 20px I !important;
}
